CLIENT_ID=YOUR BOT ID
PREFIX=?
TOKEN=YOUR BOT TOKEN
MONGODB_URI=YOUR MONGODB URL
SUPPORT_ROLES=ROLEID, ROLE2ID, ROLE3ID, ROLE4ID, ROLE5ID...
LOG_CHANNEL_NAME=ticket-logs
ICON=https://cdn.discordapp.com/icons/711995199945179187/da584544da9df4c3b903deaa142ded48.webp?size=128